<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{
font-family:Arial;
background:#1f2937;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}
.box{
background:white;
color:black;
padding:30px;
border-radius:10px;
width:300px;
}
input{
width:100%;
padding:8px;
margin:10px 0;
}
button{
width:100%;
padding:10px;
background:#2563eb;
color:white;
border:none;
}
.error{
color:red;
font-size:14px;
}
</style>
</head>

<body>

<form method="POST" class="box">
<h2>Login</h2>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<input name="username" placeholder="Usuario" required>
<input name="password" type="password" placeholder="Contraseña" required>

<button type="submit">Entrar</button>
</form>

</body>
</html>